<nav class ="navbar navbar-light bg-warning">
    <div class="container-fluid">
        <h1> reactive form with crud operation</h1>
        <div class="d-flex">
         <button  type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" data-toggle="modal" data-target="#exampleModal" class="btn btn-success"> Add employee</button>
        </div>
    </div>
</nav>
<table class="table mt-3" >
    <thead>
      <tr>
          <th scope="col">enter your name</th>
          <th scope="col">enter your email</th>
          <th scope="col">enter your mobile</th>
          <th scope="col">enter your age</th>
          <th scope="col">enter your address</th>
          <th scope="col">action</th>
         
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>neha</td>
            <td>singh.neha2297@gmail.com</td>
            <td>789656673</td>
            <td>40</td>
            <td>kailash nagar</td>
            <td>
                <button class="btn btn-success">edit</button>
                <button class="btn btn-danger mx-3">delete</button>
            </td>
        
        </tr>
    </tbody>
</table>
<!-- Button trigger modal -->


<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registration form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">First name</label>
            <input type="text" class="form-control" formControlName="firstname" id="exampleInputEmail1" aria-describedby="emailHelp">
            
          </div>
       
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email Address</label>
            <input type="email" class="form-control"  formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp">
            
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Age</label>
            <input type="number" class="form-control"   formControlName="age" id="exampleInputEmail1" aria-describedby="emailHelp">
            
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Mobile number</label>
            <input type="number" class="form-control"  formControlName="mobile" id="exampleInputEmail1" aria-describedby="emailHelp">
            
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Address</label>
            <input type="text" class="form-control"  formControlName="address" id="exampleInputEmail1" aria-describedby="emailHelp">
            
          </div>
 
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="postEmployeeDetails()"
        class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>